{% extends "blog/base.html" %}

{% block content %}

{%  if user_profile != None %}
<img style="width: 100px; height: 100px;" src="{{ user_profile.profile.image.url }}">
  <h1>{{ user_profile.username }}</h1>
  <h2>{{ user.email }}</h2>
{%  else %}
<img style="width: 100px; height: 100px;" src="{{ user.profile.image.url }}">
  <h1>{{ user.username }}</h1>
  <h2>{{ user.email }}</h2>
{%  endif %}

{% for post in posts %}
<table border="1" cellpadding="10">
    <tr>
      <td>{{ post.content }}</td>
      <td>{{ post.date_posted | date:"H:i l, d.m.y" }}</td>
      <td>
        {% if post.author == user %}
             <a class="material-icons ml-2"
                style="font-size: 14px"
                     href="{% url 'post-delete' post.id %}">Delete</a>

         {%  endif %}
      </td>
    </tr>

</table>
{% endfor %}
{% endblock content%}
