{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="">
    <h3 class="">
        Change  data
    </h3>
    <form  method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="">
            {{ user_form | crispy }}
            {{ profile_form | crispy }}
        </fieldset>
        <div class="form-group">
            <button class="" type="submit">Change data</button>
        </div>
    </form>
</div>
{% endblock content %}
